@font-face {
   font-family: "Lato-Regular";
   src: url("./assets/fonts/Lato-Regular.ttf");
}

@font-face {
   font-family: "Lato-Semibold";
   src: url("./assets/fonts/Lato-Semibold.ttf");
}

@font-face {
   font-family: "Lato-Black";
   src: url("./assets/fonts/Lato-Black.ttf");
}

@font-face {
   font-family: "Lato-Light";
   src: url("./assets/fonts/Lato-Light.ttf");
}

body {
   height: 100vh;
   margin: 0 auto;
}

.wrapper {
   max-width: 1020px;
   margin: 0 auto;
}

.portfolio {
   height: 778px;
   padding: 43px 30px;
   background-color: #2d303a;
   border-bottom: solid 6px #323746;
}

.section__header {
   font-size: 30px;
   line-height: 18px;
   color: #666d89;
   font-family: "Lato-Black", sans-serif;
   padding: 27px 10px;
   letter-spacing: 0.2px;
}

.section__description {
   padding: 0 0 11px 10px;
   letter-spacing: -0.77px;
   text-align: justify;
   font-size: 19px;
   line-height: 30px;
   color: #666d89;
   font-family: "Lato-Regular", sans-serif;
   font-weight: 300;
}

/* portfolio__nav */
.portfolio__nav-list {
   display: flex;
   list-style-type: none;
   padding: 0 0 0 11px;
}

.portfolio__link {
   display: block;
   margin-right: 11px;
   padding: 0px 6px;
   text-align: center;
   text-decoration: none;
   font-size: 12px;
   line-height: 20px;
   color: #666d89;
   font-family: "Lato-Semibold", sans-serif;
   cursor: pointer;
   border-radius: 5px;
   border: 1px solid #666d89;
   word-spacing: -2.1px;
}

.portfolio__link_active {
   color: #dedede;
   border: 1px solid #c5c5c5;
}

.portfolio__link:hover {
   color: #dedede;
   border: 1px solid #c5c5c5;
}
/* portfolio__nav */

/* portfolio-gallery */
.portfolio-gallery__wrapper {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   height: 621px;
   margin: 9px 0 0 0;
   overflow: hidden;
}

.portfolio-gallery__img {
   width: 220px;
   height: 187px;
   margin: 10px;
   overflow: hidden;
}
.portfolio-gallery__img1 {
   margin: -11px 0 0 -8px;
}

.portfolio-gallery__img2 {
   margin: -43px 0 0 -82px;
}

.portfolio-gallery__img3 {
   margin: -1px 0 0 -11px;
}

.portfolio-gallery__img4 {
   margin: -2px 0 0 -24px;
}

.portfolio-gallery__img5 {
   margin: -16px 0 0 -10px;
}

.portfolio-gallery__img6 {
   margin: -4px 0 0 -16px;
}

.portfolio-gallery__img7 {
   margin: -39px 0 0 -31px;
}

.portfolio-gallery__img8 {
   margin: -32px 0 0 -24px;
}

.portfolio-gallery__img9 {
   margin: -2px 0 0 -16px;
}

.portfolio-gallery__img10 {
   margin: -113px 0 0 -141px;
}

.portfolio-gallery__img11 {
   margin: -175px 0 0 -144px;
}

.portfolio-gallery__img12 {
   margin: -60px 0 0 -36px;
}