@font-face {
   font-family: "Lato-Regular";
   src: url("./assets/fonts/Lato-Regular.ttf");
}

@font-face {
   font-family: "Lato-Semibold";
   src: url("./assets/fonts/Lato-Semibold.ttf");
}

@font-face {
   font-family: "Lato-Black";
   src: url("./assets/fonts/Lato-Black.ttf");
}

@font-face {
   font-family: "Lato-Light";
   src: url("./assets/fonts/Lato-Light.ttf");
}
html {
   scroll-behavior: smooth;
}

body {
   height: 100vh;
   margin: 0 auto;
}

.wrapper {
   max-width: 1020px;
   margin: 0 auto;
}

/* header */
.header {
   display: flex;
   justify-content: space-between;
   height: 89px;
   position: sticky;
   top: 0;
   z-index: 2;
   padding: 0 2.5em;
   align-items: center;
   background-color: #2d303a;
   border-bottom: solid 6px #323746;
}

.logo {
   font-size: 25px;
   line-height: 7px;
   color: #ffffff;
   font-family: "Lato-Semibold", sans-serif;
   text-transform: uppercase;
   letter-spacing: -0.5px;
}

.logo__star {
   color: #f06c64;
}

.nav__list {
   display: flex;
   padding-top: 10px;
   list-style-type: none;
}

.nav__link {
   display: block;
   padding-left: 2.4em;
   font-size: 12px;
   line-height: 7px;
   color: #ffffff;
   font-family: "Lato-Semibold", sans-serif;
   text-transform: uppercase;
   text-decoration: none;
   cursor: pointer;
}

.nav__item {
   position: relative;
}

.nav__item::before {
   position: absolute;
   top: -10px;
   right: -17px;
   content: ".";
   color: #494e62;
}

.nav__item:last-child::before {
   display: none;
}

.nav__link_active {
   color: #f06c64;
}

.nav__link:hover {
   color: #f06c64;
}


/* header */

/* main */
/* slider-block */
.slider-section {
   position: relative;
}

.slider {
   justify-content: space-between;
   align-items: center;
   padding: 0 40px 0 42px;
}

.slider1 {
   display: flex;
   justify-content: space-evenly;
   height: 594px;
   background-color: #f06c64;
   border-bottom: solid 6px #ea676b;
}

.slider2 {
   height: 600px;
   background-image: url(./assets/img/Slider2.png);
   display: none;
}

.button {
   width: 16px;
   height: 27px;
   margin-bottom: 4px;
   background-color: transparent;
   cursor: pointer;
   border: 0;
}

.slider__button-left {
   position: absolute;
   top: 279px;
   left: 42px;
   background-image: url(./assets/img/button.png);
}

.slider__button-left:hover {
   background-image: url(./assets/img/button-hover.png);
}

.slider__button-right {
   position: absolute;
   top: 279px;
   right: 40px;
   transform: rotate(180deg);
   background-image: url(./assets/img/button.png);
}

.slider__button-right:hover {
   background-image: url(./assets/img/button-hover.png);
}

.slider__phoneImg-vertical {
   width: 240px;
   height: 488px;
   position: relative;
   background-repeat: no-repeat;
   margin-right: 3px;
   background-image: url(./assets/img/phone-vertical.png);
}

.phoneImg-vertical__blackScreen {
   display: none;
   position: absolute;
   left: 13px;
   top: 64px;
   width: 189px;
   height: 334px;
   background-color: black;
}

.slider__phoneImg-horizontal {
   height: 246px;
   width: 484px;
   position: relative;
   background-repeat: no-repeat;
   background-image: url(./assets/img/phone-horizontal.png);
}

.phoneImg-horizontal__blackScreen {
   display: none;
   position: absolute;
   left: 60px;
   top: 13px;
   width: 334px;
   height: 189px;
   background-color: black; 
}

/* slider-block */

/* services */
.services {
   height: 410px;
   padding: 42px 40px;
   background-color: #f2f2f2;
   border-bottom: solid 6px #ffffff;
}

.services__header {
   padding: 27px 0;
   font-size: 30px;
   line-height: 18px;
   color: #666d89;
   font-family: "Lato-Black", sans-serif;
}

.services__description {
   padding-bottom: 15px;
   line-height: 30px;
   text-align: justify;
   font-size: 19px;
   color: #767e9e;
   font-family: "Lato-Regular", sans-serif;
   font-weight: 300;
   letter-spacing: -0.78px;
}

.services__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.services__item {
   display: flex;
   width: 301px;
   padding-top: 30px;
}

.services__item_icon {
   width: 55px;
   height: 55px;
   margin: 2px 0 0 1px;
   border-radius: 50%;
   border: 2px solid #666d89;
   fill: #666d89;
}

.icon__svg-pen {
   padding-top: 13px;
   padding-left: 13px;
}

.icon__svg-bulb {
   padding-top: 12px;
   padding-left: 17px;
}

.icon__svg-heart {
   padding-top: 14px;
   padding-left: 12px;
}

.icon__svg-phone {
   padding-top: 12px;
   padding-left: 17px;
}

.icon__svg-bubble {
   padding-top: 15px;
   padding-left: 13px;
}

.icon__svg-star {
   padding-top: 13px;
   padding-left: 12px;
}

.services__item_text {
   padding-left: 20px;
   width: calc(100% - 77px);
   overflow: hidden;
}

.services__item_header {
   font-size: 18px;
   line-height: 19px;
   color: #666d89;
   font-family: "Lato-Black", sans-serif;
}

.services__item_description {
   padding-top: 10px;
   font-size: 12px;
   line-height: 22px;
   font-family: "Lato-Semibold", sans-serif;
   font-weight: 400;
   text-align: justify;
   color: #767e9e;
}
/* services */

/* section style */
.section__header {
   font-size: 30px;
   line-height: 18px;
   color: #666d89;
   font-family: "Lato-Black", sans-serif;
   padding: 27px 10px;
   letter-spacing: 0.2px;
}

.section__description {
   padding: 0 0 11px 10px;
   letter-spacing: -0.77px;
   text-align: justify;
   font-size: 19px;
   line-height: 30px;
   color: #666d89;
   font-family: "Lato-Regular", sans-serif;
   font-weight: 300;
}
/* section style */

/* portfolio*/
.portfolio {
   height: 778px;
   padding: 43px 30px;
   background-color: #2d303a;
   border-bottom: solid 6px #323746;
}



/* portfolio__nav */
.portfolio__nav-list {
   display: flex;
   list-style-type: none;
   padding: 0 0 0 11px;
}

.portfolio__link {
   display: block;
   margin-right: 11px;
   padding: 0px 6px;
   text-align: center;
   text-decoration: none;
   font-size: 12px;
   line-height: 20px;
   color: #666d89;
   font-family: "Lato-Semibold", sans-serif;
   cursor: pointer;
   border-radius: 5px;
   border: 1px solid #666d89;
   word-spacing: -2.1px;
}

.portfolio__link_active {
   color: #dedede;
   border: 1px solid #c5c5c5;
}

.portfolio__link:hover {
   color: #dedede;
   border: 1px solid #c5c5c5;
}
/* portfolio__nav */

/* portfolio-gallery */
.portfolio-gallery__wrapper {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   height: 621px;
   margin: 9px 0 0 0;
   overflow: hidden;
}

.portfolio__img {
   width: 220px;
   height: 187px;
   margin: 10px;  
}

.portfolio-gallery__img {
   order: 0;
}

.portfolio__img_active {
   margin: 5px 5px 5px 5px;
   border: #f06c64 solid 5px;
}
/* portfolio-gallery */
/* portfolio*/

/*about-us section*/
.about-us {
   background-color: #f2f2f2;
   height: 642px;
   border-bottom: solid 6px #ffffff;
   padding: 42px 30px;
}

.employee_wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-top: 34px;
}

.employee__card {
   width: 300px;
   height: 450px;
}

.employee-card__photo {
   width: 300px;
   height: 300px;
   overflow: hidden;
}

.employee-card__name {
   margin-top: 18px;
   font-size: 19px;
   line-height: 16px;
   color: #666d89;
   font-family: "Lato-Black", sans-serif;
   letter-spacing: -0.8px;
}

.employee-card__description {
   margin-top: 11px;
   font-size: 12px;
   line-height: 21px;
   color: #767e9e;
   font-family: "Lato-Semibold", sans-serif;
   letter-spacing: -0.13px;
   text-align: justify;
}

.messengers__wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 152px;
   margin-top: 24px;
}

.messenger__icon {
   display: block;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 1px solid #666d89;
}

.messenger__icon:hover {
   border-color: black;
}

.messenger__facebook {
   background: url(./assets/img/facebook.png) no-repeat 11px 8px;
}

.messenger__google {
   background: url(./assets/img/google.png) no-repeat 8px 8px;
}

.messenger__twitter {
   background: url(./assets/img/twitter.png) no-repeat 7px 9px;
}

.messenger__linkedIn {
   background: url(./assets/img/linkedIn.png) no-repeat 8px 8px;
}
/*about-us section*/

/* contacts section*/
.contacts {
   background-color: #f06c64;
   height: 562px;
   border-bottom: solid 6px #ea676b;
   padding: 43px 30px;
}

.contact-form {
   display: flex;
   margin: 33px 10px;
   justify-content: space-between;
}

/* contacts form block*/
.form {
   flex: 2;
   padding-right: 36px;
}

.form-field {
   height: 34px;
   width: 100%;
   margin-bottom: 16px;
   padding-left: 14px;
   font-size: 11px;
   font-family: "Lato-Semibold", sans-serif;
   letter-spacing: 0.6px;
   color: #f0d8d9;
   background: #d6564f;
   border: solid #d6564f 1px;
   border-radius: 5px;
   outline: none;
}

.form-field__textarea {
   height: 190px;
   padding: 10px 0px 0px 14px;
   resize: none;
   letter-spacing: 0.35px;
}

.form-field:hover {

   background: #9d3f3a;
}

.form-field::placeholder {
   color: #f48c8f;
}

.submit {
   padding: 10px 50px;
   font-size: 12px;
   font-family: "Lato-Semibold", sans-serif;
   color: #f0d8d9;
   background-color: #d6564f;
   border: solid #d6564f 1px;
   border-radius: 5px;
}

.submitBtn:hover {
   cursor: pointer;
   background: #9d3f3a;
}
/* contacts form block*/

/* contacts info block */
.contact-form__info {
   flex: 1;
}

.info__header {
   font-size: 19px;
   line-height: 18px;
   color: #f0d8d9;
   font-family: "Lato-Black", sans-serif;
   letter-spacing: -0.43px;
}

.info__description {
   padding: 11px 0 21px 0;
   font-size: 12px;
   line-height: 22px;
   color: #f0d8d9;
   font-family: "Lato-Semibold", sans-serif;
   text-align: justify;
   letter-spacing: -0.1px;
}

.info__field {
   display: block;
   margin-left: 1px;
   text-decoration: none;
   font-size: 12px;
   line-height: 22px;
   color: #f0d8d9;
   font-family: "Lato-Semibold", sans-serif;
}

.info__field:hover {
   cursor: pointer;
   color: #b8b8b8;
}

.info__location {
   margin-left: 3px;
   margin-right: 13px;
}

.info__phone {
   margin-right: 12px;
}

.info__mail {
   margin-right: 10px;
}
/* contacts info block */
/* contacts section*/
/* message-block */
#message-block {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: #0008;
}

#message-block.hidden {
   display: none;
}

#message {
   position: absolute;
   width: 250px;
   height: 150px;
   top: 50%;
   left: 50%;
   padding: 30px;
   z-index: 1;
   text-align: center;
   font-family: "Lato-Semibold",
   sans-serif;
   background: #f06c64;
   color: #f0d8d9;
   border: solid #d6564f 1px;
   border-radius: 5px;
   opacity: 0.9;
}
/* message-block */

/* footer*/
.footer {
   background-color: #2d303a;
   height: 76px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 40px 0 43px;
}

.messengers-icons__wrapper {
   width: 152px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.copyright {
   margin-left: -3px;
   font-weight: 300;
   font-size: 12px;
   letter-spacing: -0.004em;
   font-family: "Lato-Semibold",
      sans-serif;
   color: #666d89;
}

.messenger__icon {
   display: block;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 1px solid #666d89;
}

.messenger__icon:hover {
   border-color: black;
}

.messenger__facebook {
   background: url(./assets/img/facebook.png) no-repeat 11px 8px;
}

.messenger__google {
   background: url(./assets/img/google.png) no-repeat 8px 8px;
}

.messenger__twitter {
   background: url(./assets/img/twitter.png) no-repeat 7px 9px;
}

.messenger__linkedIn {
   background: url(./assets/img/linkedIn.png) no-repeat 8px 8px;
}